@import 'variables';
@import 'flex';
@import 'base';

.header {
  height: 95vh;
  width: 100%;

  background-image: linear-gradient(
      to right bottom,
      rgba($color-primary-dark, 0.7),
      rgba($color-primary-light, 0.7)
    ),
    url('/img/header.jpeg');

  background-size: cover;
  background-position: center;
  background-attachment: fixed;

  clip-path: polygon(0 0, 100% 0, 100% 90vh, 0 100%);

  div {
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    font-size: 6rem;

    h2 {
      font-size: 4rem;
    }
  }
}

.about {
  padding: 4rem 8rem;
  margin: 4rem 0;
  overflow: hidden;
  color: $color-grey-dark;
  text-align: center;
  font-size: 3.5rem;

  p {
    text-align: justify;
    font-size: 1.8rem;
  }
}

.features {
  padding: 4rem 4rem;
  color: $color-grey-dark;
  text-align: center;
  font-size: 3.5rem;

  .row {
    padding: 4rem 0;
  }

  .card {
    font-size: 2rem;
    margin: 0 4rem;
    padding: 2rem;
    color: $color-grey-light-1;
    background: linear-gradient(
      to right bottom,
      rgba($color-primary, 0.7),
      rgba($color-primary-light, 0.7)
    );
    box-shadow: 0 1rem 1rem rgba($color-black, 0.5);
    transition: all 0.2s;

    &:hover {
      transform: translateY(-1rem);
      box-shadow: 0 1.3rem 2rem rgba($color-black, 0.5);
    }
  }
}

.footer {
  background: $color-grey-dark-3;
  color: $color-grey-light-1;
  padding: 4rem 4rem;

  .contact {
    text-align: center;
    font-size: 3rem;

    i {
      padding: 1rem;

      &:hover {
        font-size: 3rem;
        color: $color-grey-light-3;
      }
    }
  }

  .copyright,
  .made {
    font-size: 1rem;
    text-align: center;
    padding: 1rem;
  }
}
